:root {
      --band-width: 1px;
      --band-scale-x: 600;
      --figure-width: 30vw;
      --duration: 1s;
    }

    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      background: #222222;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      width: calc(var(--figure-width) * 3 + 1vw * 2);
      column-gap: 1vw;
      row-gap: 1vw;
    }

    .container:hover figure a::after {
      left: 0%;
      opacity: 0;
    }

    .container:hover figure a .img_wrapper {
      left: var(--figure-width);
    }

    .container:hover figure a .img_wrapper img.scan {
      left: calc(var(--figure-width) * -1 + var(--band-width));
    }

    .container:hover figure a img.raw {
      transform: scale(1);
    }

    figure {
      display: block;
      overflow: hidden;
      width: var(--figure-width);
      aspect-ratio: 16 / 9;
      margin: 0;
      padding: 0;
    }

    figure a {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    figure a::after {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -100%;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      transition-duration: var(--duration);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      mix-blend-mode: overlay;
    }

    .img_wrapper {
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition-duration: var(--duration);
    }

    .img_container {
      width: var(--band-width);
      height: 100%;
      transform: scaleX(var(--band-scale-x));
      transform-origin: 0 0;
    }

    img.scan {
      position: relative;
      left: calc(-1 * var(--band-width));
      width: var(--figure-width);
      height: 100%;
      transition-duration: var(--duration);
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }

    img.raw {
      width: 100%;
      height: 100%;
      transition-duration: calc(var(--duration) * 1.1);
      transform: scale(1.1);
      transform-origin: 100% 50%;
    }
